*, ::before, ::after {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #E5E5E5;
}

body {
  background: linear-gradient(76.67deg, #D61F6C 51.12%, #BE1A5F 51.22%);
  padding: 1rem;
}

#root {
  max-width: 576px;
  margin: 0 auto;
  padding: 2rem;
  background: #32323C;;
}